{{log this}}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-primary" role="alert">
        Welcome, {{name}}!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Your Blogs</h2>
      {{#each blogs as |blog|}}
      <div class="card mb-4">
        <div class="card-body">
          <a class="text-decoration-none" href="/blogs/{{blog.id}}">
            <h5 class="card-title">{{blog.title}}</h5>
          </a>
          <p class="card-text">{{blog.contents}}</p>
          <p class="card-text"><small class="text-muted">Created on: {{format_date blog.date_created}}</small></p>
        </div>
      </div>
      {{else}}
      <p>No blogs found.</p>
      {{/each}}
    </div>
    <div class="col-md-6">
      <h2>Your Comments</h2>
      {{#each comments as |comment|}}
      <div class="card mb-4">
        <div class="card-body">
          <a class="text-decoration-none" href="/blogs/{{comment.blog_id}}">
            <p class="card-text">{{comment.content}}</p>
          </a>
          <p class="card-text"><small class="text-muted">Commented on: {{format_date comment.date_created}}</small></p>
        </div>
      </div>
      {{else}}
      <p>No comments found.</p>
      {{/each}}
    </div>
  </div>
</div>




<script src="/js/addBlog.js"></script>